<link rel="stylesheet" type="text/css" href="star-rating-svg.css">

<div class="my-rating"></div>

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="jquery.star-rating-svg.js"></script>