/*.hoproduct {*/
   /*border: 3px solid red!important;*/
/*}*/

.banners-area{
    height: 470px!important;
}
.herobanner{
    margin-top: 10px!important;
    /*border: 10px solid white;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)!important;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)!important;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)!important;
}
.visiter{
    position: relative;
    top: 100px;
    left: 300px;
}

.herobanner, .herobanner-single img, .header-tagsarea,.header-tagsarea .deals{
    border-radius: 10px !important;
}

.footer-widget-title, .ho-navigation ul .active, .footer-widget.widget-info ul li i{
color:#FDAE36!important;
}
.ho-navigation > ul > li.active > a, .ho-navigation > ul > li:hover > a{
    color:#FDAE36!important;
}

.catmenu-dropdown .megamenu>li>a {
    color:#FDAE36!important;
    border-bottom: 1px solid #FDAE36!important;
}

.header-tagsarea .deals a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-tagsarea .deals {
    padding: 25px!important;
}
.header-tagsarea .deals a:hover {
    color: yellow;
    border-bottom: 10px solid yellow;
}

.banners-area, .row, .container2 .col-lg-2{
   padding: 0!important;
}
.catmenu-body{
    border-bottom-left-radius:  10px!important;
    border-bottom-right-radius: 10px!important;
}

.catmenu-trigger span {
    color: white;
    padding-left: 10px!important;
    font-weight: bold;
}
.catmenu-2 .catmenu-body>ul>li>a:hover{
    color:#FDAE36!important;
}
.catmenu-2 .catmenu-trigger span::before {
    content: "\f1c3";
    font-size: 22px;
    padding-right: 10px;
    vertical-align: middle;
}
.catmenu-2 .catmenu-trigger span::after {
    content:none!important;
}
.catmenu-2 ,.catmenu-2 .catmenu-trigger{
    margin-top: 10px!important;
    border-radius: 10px!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

.catmenu-2 .catmenu-body > ul > li > a {
    padding: 10px 10px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}
.catmenu-dropdown .megamenu{
    border-bottom: 3px solid #FDAE36!important;
}


.slider-navigation .slider-navigation-arrow, .catmenu-2 .catmenu-trigger{
    background-image: radial-gradient(circle farthest-side at center bottom, #da710c, #e1391d 100%);
    border: 1px solid #fff;
}

.slider-dots .slick-dots li.slick-active, .slider-dots .slick-dots li:hover {
    background-image: radial-gradient(circle farthest-side at center bottom, #da710c, #e1391d 100%);
    border: 1px solid #fff;
}

.ho-button-white i, .ho-button-white span, .ho-button-white:hover span, .ho-button-white:link i, .ho-button-white:link span, .ho-button-white:link:hover span, .ho-button:hover, .ho-button:hover i, .ho-button:hover span {
    color: #e1391d;
}

.access {
    top:10px;
    background: #fff;
    border-radius: 8px!important;
    margin-bottom: 10px!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)!important;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)!important;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)!important;
}
.access .container{
    /*border: 2px solid black;*/
    padding: 10px!important;
}
.accessItem1{
    height: 150px;
}
.accessItem {
    width: 100%;
    padding: 5px!important;
    background: #fff;
    border: 2px solid rgba(128, 128, 128, 0.2);
    /*border: 1px solid red;*/
    border-radius: 8px!important;
    margin-bottom:5px!important;
    margin-top:10px!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)!important;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)!important;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)!important;
}
.accessItem a{
    color: #FDAE36;
    font-weight: bold;
    text-align: center;
}
.accessItem2 {
    padding-top: 15px!important;
    padding-left: 8px!important;
    height: 70px!important;
}

.button-access{
    margin-top: 20px;
    color: #fff!important;
    background-image: radial-gradient(circle farthest-side at center bottom, #da710c, #e1391d 100%);
    float: left;
    display: block;
    width: 45%;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    height: 30px;
    border-radius: 18px;
    padding:5px;
    margin-right:8px;
}

.newuser-welcome{
    font-size: 13px;
    text-align: center;
    color: #000;
    height: 18px;
    line-height: 18px;
    margin-bottom: 10px;
    font-weight: 900;
    font-family: OpenSans-Extrabold,'Open Sans',Arial,Helvetica,sans-serif,SimSun,"宋体";
}

.accessItem .user-pic {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    position: relative;
    left: 30%;
}

.accessItem .devis {
    width: 34px;
    height: 34px;
    margin-right: 5px!important;
}

.user-benefits .user-pic a {
    display: block;
    width: 100%;
    height: 100%;
}

.user-benefits .newuser-welcome {
    margin-bottom: 24px;
}
.user-benefits .newuser-welcome a, .user-benefits .username a {
    color: #000;
}
.user-benefits .newuser-welcome a, .user-benefits .username {
    font-size: 14px;
    color: #000;
    height: 18px;
    overflow: hidden;
    line-height: 18px;
    margin-bottom: 0;
    font-weight: 900;
    font-family: OpenSans-Extrabold,'Open Sans',Arial,Helvetica,sans-serif,SimSun,"宋体";
}

.user-benefits .login-status {
    position: relative;
    height: 36px;
    margin: 8px -4px 30px;
    font-size: 13px;
}

.user-benefits .login-status .join-btn, .user-benefits .login-status .register-btn {
    float: left;
    width: 50%;
    padding: 0 4px;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
input[type=radio]:checked~label::before {
    color: #0B88EE;
    border-color: #0B88EE;
    background: #03bcce !important;
}

input[type=checkbox]:checked~label, input[type=radio]:checked~label {
    color: #0B88EE;
    font-weight: bold;
}

input[type=checkbox]~label, input[type=radio]~label {
    position: relative;
    padding-left: 24px;
    font-size: 18px!important;
}

.sticky + .page-content {
    padding-top: 102px;
}

.container2 {
    width:         100%;
    padding-right: 30px!important;
    padding-left:  30px!important;
    margin-right:  auto!important;
    margin-left:    auto!important;
}

.header-middle {
     padding: 15px 0 !important;
}

.boutiqueTag{
    font-size: 15px;
    font-weight: bold;
}

.newsletter-socialicons2 li a {
    border: 2px solid #a24101 !important;
    color: #fd6602!important;
    font-weight: bold;
}

.default_product {
    margin-bottom: 40px;
    background: #fff;
    border: 1px solid #ebebeb;
}

.section_title {
    text-align: left;
    border-bottom: 2px solid #fd6602!important;
    background: #fff;
    position: relative;
}

.categories-slider{
    background: #020657 !important;
}
.category-thumbBlock{
    display: inline-block;
    text-align: center;
    float: left;
    background: #c89023;
    margin: 15px!important;
    width: 140px;
    color: #fff;
    min-height: 120px;
    cursor: pointer;
    padding-top: 25px;
    font-size: 12px;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;

}
/*.category{*/
    /*background: #d3931f !important;*/
    /*margin-bottom: 15px!important;*/
/*}*/
.thumbnail-name {
    font-weight: bold;
    font-size: 13px;
}
.category-productcounter, .thumbnail-name{
    color: #fff!important;
}

.thumbnail-img {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.section_title h2 {
    font-size: 18px;
    color: #242424;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 53px;
    display: inline-block;
    padding-left: 75px;
}

.section_title .icone_img {
    width: 56px;
    height: 55px;
    background: #fd6602!important;
    position: absolute;
    top: 0px;
    left: 0;
}

.header-logoHome img{
    margin-top: -20px;
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}
.ho-navigation > ul > li.active > a, .ho-navigation > ul > li:hover > a {
    background: rgba(255, 255, 255, .2);!important;
    border-color: rgba(255, 255, 255, .15)
}

.nav2 ul{
    margin-left: 25%!important;
}
/*.nav2 ul li{*/
    /*border: 2px solid red !important;*/
    /*margin-left: 20px!important;*/
/*}*/

.text-primary {
    color: #25b6c4 !important;
    font-size: 20px;
    text-decoration: none !important;
    text-transform: uppercase;
}

.up {
    border-radius: 100px!important;
    font-size: 12px!important;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500!important;
    letter-spacing: 1px!important;
    line-height: normal;
    padding: 4px 14px!important;
    text-transform: uppercase;
}
.testimonials-block {
    padding-top: 50px;
    margin-bottom: 100px;
}

.title h2 {
    padding: 20px;
    color: #25b6c4;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}
.up-primary {
    background-color: rgba(37, 182, 196, 0.1)!important;
    color: #25b6c4;
}
.text-center {
    text-align: center!important;
}

.custom-card {
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 20px!important;
    border: 1px solid #25b6c4;
    border-radius: 8px;
    box-shadow: -1px 92px 99px -62px rgba(0, 0, 0, 0.12), 0 25px 65px 0 rgba(0, 0, 0, 0.08);
}

.custom-card img {
    width: 50px;
    height: 50px!important;
    border-radius: 100px;
    box-shadow: 0 0 9px rgba(69, 101, 173, 0.2);
}

.par2{
    width: 100%!important;
    height: 120px!important;
    color: #000!important;
    font-size: 15px!important;
    font-family: 'Hind', sans-serif!important;
}
.panel-body ol {
    color: #25b6c4!important;
    font-size: 16px!important;
    font-weight: bold;
    line-height: 30px!important;
}
.par3{
    width: 100%!important;
    color: #000!important;
    font-size: 15px!important;
    font-family: 'Hind', sans-serif!important;
}
.par2 {
    line-height: 30px;
    text-align: justify;
    margin-bottom: 10px!important;
}

.mt-50{
    margin-top: 50px!important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.header-welcomemsg span {
    color: #ffaf20!important;
}

.header-welcomemsg2{
    padding: 2px;
    border-bottom: 0.01px solid #adadad;
}

.header_right_info{
    padding-top: 10px!important;
}

.switcher > ul > li,.header_right_info > ul > li {
    display: inline-block;
    padding-right: 15px;
    margin-right: 15px;
    position: relative;
}
.header_right_info ul li::before,.switcher ul li::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 13px;
    background: #fff;
    top: 50%;
    -webkit-transform: translatey(-50%);
    transform: translatey(-50%);
    right: 0;
}
.header_right_info ul li:last-child::before,.switcher ul li:last-child::before{
    display: none;
}
.switcher {
    margin-left: 42px;
}
.switcher > ul > li > a,.header_right_info > ul > li > a {
    display: block;
    text-transform: capitalize;
    color: #ffffff;
    line-height: 22px;
}
.switcher ul li:last-child,.header_right_info ul li:last-child{
    padding: 0;
    margin: 0;
}
.header_right_info ul li a i,.switcher ul li a img {
    margin-right: 5px;
}

.header-middle{
    border-bottom: 0.1px solid #adadad;
}

.header-welcomemsg2 .header-welcomemsg{
    color: #fff!important;
    font-size: 12px;
}
.center{
    text-align: center!important;
}


.newarrival-bestseller-featured-product .slider-navigation-2 .slider-navigation-arrow.slider-navigation-prev,
.newarrival-bestseller-featured-product .slider-navigation-2 .slider-navigation-arrow.slider-navigation-next {
    color: white!important;
    font-weight: bold!important;
}

.shop-widgets .widget-categories ul li a{
    font-size: 13px!important;
}

.product{
    background-color: #fff!important;
    padding: 10px!important;
    margin-right: 10px!important;
    margin-bottom: 10px!important;
    border-radius: 20px!important;
    border: 2px solid #efefef!important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)!important;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)!important;
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)!important;
}
.product2{
    background-color: #fff!important;
    padding: 10px!important;
    margin-right: 10px!important;
    margin-bottom: 10px!important;
    border-radius: 20px!important;
    border: 2px solid #efefef!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)!important;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)!important;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)!important;
}
.hoproduct-thumb::before {
    background: linear-gradient(#5a5a5a,rgba(0,0,0,0.1))!important;
    border-radius: 10px!important;
}
.red-text{
    color: red!important;
}
.theme-text{
    color: #25b6c4!important;
}
.wished{
    background: red!important;
    color: white!important;
}
.float_right {
    float: right;
}
.float_left {
    float: left;
}
.product-image{
    height: 250px!important;
    border-radius: 10px!important;
}
.product-imageBondeals{
    border-radius: 10px!important;
}
.product-titleBondeals{
    height: 60px!important;
    margin-bottom: 20px!important;
}
.product-priceboxBondeals{
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px!important;
    padding-bottom:10px!important;
    margin-top: 10px;
    color: white!important;
    text-align: center!important;
    border-radius: 5px;
    background: -webkit-linear-gradient(right, #01A5C6, #3841C6);





: -o-linear-gradient(right, #01A5C6, #3841C6);
    background: -moz-linear-gradient(right, #01A5C6, #3841C6);
    background: linear-gradient(right to left, #01A5C6, #3841C6);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.product-priceboxBondeals .price{
    color: white!important;
}
.product-image, .hoproduct-frontimage{
    border-radius: 10px!important;
}
.hoproduct-thumb .hoproduct-frontimage img:hover{
    background: red!important;
}
.hoproduct-actionbox li a{
    color: #00A0D1;
}

.product-title{
    height: 50px!important;
}

.product-pricebox{
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px!important;
    padding-bottom: 30px!important;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
    background: -webkit-linear-gradient(right, #01A5C6, #3841C6);
    background: -o-linear-gradient(right, #01A5C6, #3841C6);
    background: -moz-linear-gradient(right, #01A5C6, #3841C6);
    background: linear-gradient(right to left, #01A5C6, #3841C6);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.product-pricebox .price{
    color: white!important;
}

.categories-area {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    background-color: rgba(204, 204, 204, 0.1);
}
.btn-category {
    padding: 10px;
    color: white!important;
    border-radius: 10px;
    background-color: #25b6c4;
    border-color: transparent;
    border: none;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.btn-category:hover {
    background-color: #3841b2;
    color: white;
}

.catmenu-trigger {
    border: 1px solid #0B88EE;
    background-color: #0B88EE;
    border-radius: 7px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    height: 42px;
    line-height: 1;
    min-width: 140px;
    text-align: left;
    padding: 0px 20px;
    margin-right:20px;
    margin-top: -15px!important;
    vertical-align: middle;
}
.widgetCat {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 12px;
    display: inline-block;
    margin: 10px;
    padding: 20px 20px 20px 0px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 150px;
    border: 1px solid #dddddd;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.widget2 {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    border-radius: 12px;
    display: inline-block;
    border: 1px solid #dddddd;
    margin-bottom: 50px!important;
    padding: 30px;
    position: relative;
    width: 100%;
}

.widget4 {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    border-radius: 12px;
    border: 1px solid #dddddd;
    margin-bottom: 50px!important;
    padding: 30px;
}
.widget5 {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius: 12px;
    border: 1px solid #dddddd;
    margin-bottom: 50px!important;
    padding: 40px!important;
}
.widget5 .par2{
    padding-bottom: 40px!important;
}
.favoris{
    color: red!important;
    border: 1px solid #25b6c4!important;
}
.unfavoris{
    background: red!important;
    color: white!important;
    border: 1px solid red!important;
}
.pdetails-socialshare ul li .favoris:hover {
    background: red!important;
    color: white!important;
    transform: scale(1.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    border: 1px solid #fff!important;
}

.like{
    border: 1px solid #25b6c4!important;
    color: blue!important;
}
.unlike{
    background: blue!important;
    color: white!important;
    border: 1px solid blue!important;
}

.pdetails-socialshare ul li .like:hover ,.pdetails-socialshare ul li .unlike:hover {
    color: white!important;
    transform: scale(1.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    border: 1px solid #fff!important;
}
.pdetails-socialshare ul li a{
    border: 1px solid #25b6c4;
    color:#25b6c4
;
}
.borderShadow{
    border-radius: 12px;
    padding: 20px!important;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.vps{
    background: #ffffff none repeat scroll 0 0;
    padding: 20px 20px 20px 20px;
    border: 1px solid #dddddd;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.widget-header {
    margin-bottom: 30px!important;
    height: 50px;
}
.widget:hover{
    background-color: rgba(253, 254, 254, 0.1);
    border: 1px solid #25b6c4;
    background-color: #f8f8f8;
}
.padd-60 {
    padding: 60px 0;
}
.footer-top-sec {
    padding-bottom: 15px;
    border-bottom: 1px solid #bababa;
}

.bg-blue-gradient{
    background-image: radial-gradient(circle farthest-side at center bottom,#009cde,#003087 125%);
}
.bg-blue-orange{
    background-image: radial-gradient(circle farthest-side at center bottom, #de5f09, #e69c0b 125%);
}
.bg-blue-orange2{
    background-image: radial-gradient(circle farthest-side at center bottom, #a32915, #e1391d 100%);
}
.bg-blue-orange4{
    background-image: radial-gradient(circle farthest-side at center bottom, #da710c, #e1391d 100%);
}
.bg-blue-orange3{
    background-image: radial-gradient(circle farthest-side at center bottom, #FC6026, #FC4C48 125%);
}

.bg-blue-orange6{
    background: #25b6c4;
}


.newsletter-area{
    border-radius: 12px;
}
.newsletter-title h2{
    color: white!important;
    padding-left: 10px;
}
.newsletter-socialicons li a{
    border: 2px solid #25b6c4!important;
    color: #25b6c4!important;
    font-weight: bold;
}
.newsletter-socialicons li a:hover{
    border: 2px solid #fff!important;
    color: #fff!important;
    font-weight: bold;
}

.category-productlink:hover {
    color: #0B88EE;
    border-color: red!important;
    padding-left: 5px
}



.category:hover .category-thumb img {
    border-radius: 1000px!important;
    width: 120px!important;
    height: 120px!important;
}

.brandlogo a img, .category-thumb img {
    -webkit-transition: none!important;
    -o-transition: none!important;
}
.featurebox {
    width: 100%;
    /*border: 1px solid black !important;*/
    padding-left: 50px!important;
}
.featurebox h5 {
    font-size: 14px!important;
    padding-top: 10px!important;
    /*border: 2px solid blue !important;*/
}
.featurebox i {
    color: #ffaf20;
    font-weight: bold;
    padding: 0px !important;
    margin: 0px!important;
    font-size: 40px!important;
    /*border: 2px solid red !important;*/
}

.bg-theme{background:#18b7bf!important;}
.bg-home{background: #0B88EE!important}
.bg-welcome{background: #FDAE36!important}
.bg-welcome2{background: #19153A !important}
.bg-welcome3{background: #0398a7 !important}
.bg-welcome4{background: #051843 !important}
.bg-welcome5{background: #10455b !important}
.bg-welcome6{background: #361865 !important}
.bg-violet{background:#19143b!important;}
.bg-welcome9{background: #3B2047 !important}
.bg-welcome8{background: #da4809 !important}
.bg-welcome7{background: #2800b0 !important}
.bg-welcome11{background: #0E7376 !important}
.bg-welcome9{background: #155FE4 !important}
.bg-gray{background: #CECECE !important}
.bg-welcome10{background: #155FE4 !important}
.footer-widget, .section-title h3, .white-text{
    color: white!important;
}

.footer-widget li, .footer-widget li a {
    color: white!important;
}
.footer-widget li i {
    color: #25b6c4!important;
}
.footer-toparea h5{
    color: #25b6c4;
    font-weight: bold;
}
.footer-copyright {
    background: #25b6c4;
    color: #000;
    border-top: 3px solid #fff;
    padding: 26px 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
}
.footer-copyright2 {
    color: #fff;
    padding: 26px 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}
.footer-copyright a {
    color: #0e1687 !important;
    font-size: 18px;
    font-weight: bold;
}
.default_link{
    font-size: 14px!important;
    text-transform: uppercase!important;
    color: #25b6c4!important;
    font-weight: 600!important;
}
.footer-widget.widget-links ul li a:hover {
    color: #25b6c4!important;
}
#scrollUp{
    /*background: #25b6c4!important;*/
    background-image: radial-gradient(circle farthest-side at center bottom, #da710c, #e1391d 100%);
    border: 1px solid #fff!important;
}

/***

====================================================================
    about Section style
====================================================================

***/


.breadcumb_area {
    background-image: url("https://askbootstrap.com/preview/osahan-ads/images/breadcumb.jpg");
    position: relative;
    width: 100%;
    padding: 80px;
    z-index: 0;
    border-bottom: 1px solid #ececec;
}

.breadcumb_area::after {
    background-color: rgba(255, 255, 255, 0.8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.breadcumb_section {
    position: relative;
    width: 100%;
}

.page_title> h3 {
    float: left;
    color: #25b6c4!important;
    font-size: 44px!important;
    font-weight: 300!important;
    letter-spacing: 2px!important;
    margin: 0 0 13px!important;
    padding: 0;
    text-align: center!important;
    text-transform: uppercase;
}
.par {
    width: 100%;
    height: 150px;
    color: #000!important;
    font-size: 18px!important;
    text-align: justify!important;
    line-height: 40px;
    font-family: 'Hind', sans-serif!important;
}


.about-faq .default-form .thm-btn {
    width: auto;
}

.faq, .aide, .contact{
    margin: 30px 0px 100px 0px;
}
.widget3 {
    background: #fff  none repeat scroll 0 0;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    border-radius: 12px;
    display: inline-block;
    border: 1px solid #dddddd;
    margin-bottom: 50px!important;
    padding: 30px;
    position: relative;
    width: 100%;
}

.heading, figcaption {
    margin-bottom: 2rem;
    font-size: 20px;
    color: #25b6c4;
}
.panel {
    border-radius: 5px!important;
    border: 1px solid #dddddd!important;
    overflow: hidden!important;
    margin-bottom: 10px;
    padding-top: 10px!important;
    padding-left: 10px!important;
    background-color: #f5f5f5!important;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.faqReponse .label-primary{
    background-color: #25b6c4!important;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

#faqAccordion .panel-title {
    font-weight: 400;
}

#faqAccordion .panel-title a {
    color: #4a3eed;
}
.label-primary {
    background-color: #4a3eed!important;
}

.panel {
    border-radius: 12px;
    border: 1px solid #dddddd;
    box-shadow: none;
    overflow: hidden;
}

.aide .widget .panel .panel-body p{
    padding: 20px 10px 20px 10px;
    color: white!important;
}
.aide .widget .panel .panel-heading {
    text-align: center;
    font-size: 20px;
}
.accordion .acc-btn .left-icon {
    position: absolute;
    left: 0;
    top: 0;
    background: #f1f1f1;
    width: 60px;
    height: 100%;
    color: #9c9c9c;
    font-size: 20px;
    text-align: center;
}
.accordion .acc-btn.active .left-icon {
    color: #fff;
}

.accordion .left-icon span {
    position: relative;
    top: 18px;
}

.accordion .acc-btn {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 30px 16px;
    margin: 0px;
    padding-right: 50px;
    border: 1px solid #f4f4f4;
}

.accordion .acc-btn.active {
    border-color: #3841b2;
    border-bottom: 0px;
}

.accordion .acc-btn p {
    color: #252525;
    font-family: 'Hind', sans-serif;
}
.accordion .acc-btn.active p {
    color: #3841b2;
}

.accordion .acc-btn.pr {
    position: relative;
}

.accordion .acc-btn .img-box {
    display: none;
}
.accordion .acc-btn.active .img-box {
    display: block;
}


.accordion .acc-btn .toggle-icon {
    color: #9c9c9c;
    display: block;
    font-weight: 100;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 20px;
    top: 15px;
    width: 24px;
}
.accordion .acc-btn .toggle-icon.left {
    color: #9c9c9c;
    display: block;
    font-weight: 100;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    left: 30px;
}
.accordion .acc-btn .toggle-icon .plus:before {
    font-size: 24px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #252525;
}

.accordion-box .accordion .acc-btn.active .toggle-icon .plus {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}


.accordion-box .accordion .acc-btn .toggle-icon .minus:before {
    font-size: 24px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    position: absolute;
    top: 0;
    left: 0;
    color: #3841b2;
    width: 100%;
}
.accordion-box .accordion .acc-btn .toggle-icon .minus{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.accordion-box .accordion .acc-btn.active .toggle-icon .minus {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.accordion-box .accordion .acc-content {
    color: #9c9c9c;
    display: none;
    padding: 15px 15px 15px 0px;
    background: #ffffff;
    border-top: 0px;
}

.accordion-box .accordion .acc-content.collapsed {
    display: block;

}

.accordion-box .accordion .acc-content p {
    margin: 0;
}


.accordion-box .accordion .acc-btn.active .toggle-icon .minus {
    color: #121d2f;
}

.single-faq-bg {
    position: relative;
}
.single-faq-bg:before {
}



.about-faq .default-form input[type="text"],
.about-faq .default-form input[type="email"],
.about-faq .default-form input[type="password"],
.about-faq .default-form input[type="number"],
.about-faq .default-form select,
.about-faq .default-form textarea {
    border: 1px solid #eaeaea;
    height: 50px;
}
.about-faq .default-form .form-control:focus {
    border-color: #3841b2;
    box-shadow: none;
}
.about-faq .default-form-area {
    padding: 40px 30px 10px;
    background: #f7f7f7;
    margin-top: 75px;
}
.about-faq .default-form-area h2 {
    margin-bottom: 30px;
    position: relative;
    font-weight: 400;
}
.about-faq .default-form textarea {
    height: 135px;
}
.accordion-box.style-one .accordion .acc-content {
    padding: 21px 30px;
    background: #f7f7f7;
    border: 1px solid #3841b2;
    border-top: 0px;
}
.accordion-box .accordion {
    margin-bottom: 10px;
}

.heading-design-h5 {
    color: #25b6c4;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 30px;
    position: relative;
    text-transform: uppercase;
}

#faqAccordion .panel-title a {
    color: #25b6c4;
}
.bg-primary {
    background: #4a3eed;
    background: -moz-linear-gradient(-45deg, #2999ff 0%, #4a3eed 100%);
    background: -webkit-linear-gradient(-45deg, #2999ff 0%,#4a3eed 100%);
    background: linear-gradient(135deg, #2999ff 0%,#4a3eed 100%);
    color: #fff;
}

.btn-primary {
    color: #ffffff!important;
    background-color: #25b6c4;
    border-color: transparent;
    border-radius: 50px!important;
}

.panel-heading {
}

.aide .widget .panel .panel-heading {
    text-align: center;
    font-size: 20px;
}
.aide .panel-heading {
    color: #fff!important;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.panel-body {
    padding: 15px;
}
.aide .panel-body p{
    color: white!important;
    font-size: 18px;
    text-align: center;
}

.aide .widget .panel .panel-body p {
    padding: 20px 10px 20px 10px;
    color: white!important;
}
.text-white {
    color: #fff;
}
.panel-footer {
    border-top: none;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.commentbox h2, .coordonees h2, .single-content-icon i{
    color: #25b6c4!important;
    font-weight: bold!important;
}
.single-content-icon{
    border-color: #25b6c4!important;
}
.contact-us-area .widget3{
    padding: 20px!important;
}
textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 -1px 0 #25b6c4;
    box-shadow: inset 0 -1px 0 #25b6c4;
    font-size: 16px;
}
.singleSocial{
    padding: 20px;
}
.list-icons-style-3 li a, .list-icons-style-3 li strong, .list-icons-style-3 li .fa {
    color: #25b6c4;
    font-size: 20px!important;
    padding-top: 15px!important;
}
ul {
    list-style-type: none;
}


.inner-banner {
    margin-bottom: 30px !important;position: relative;
    background: #f7f7f7;
    background-size: cover;
}
.text-center {
    text-align: center!important;
}

.inner-banner .box {
    display: table;
    padding-top: 30px;
    width: 100%;
    text-align: center;
}
.inner-banner .box h3 {
    font-size: 20px;
}
.inner-banner h3 {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    font-size: 36px;
    line-height: 60px;
    color: #222;
    font-weight: 600;
    text-transform: capitalize;
}

.billing-info {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.progressbar {
    counter-reset: step;
}
.progressbar li.active {
    color: #18b7bf!important;
    font-weight: bold!important;
}
.progressbar li.active:before {
    border-color: #18b7bf;
    background: #18b7bf!important;
    color: white;
}
.progressbar li {
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #9b9b9b !important;
}
.progressbar li.active:before {
    border-color: #25b6c4;
    color: white;
    background: #25b6c4;
}
.progressbar li:first-child:before {
    background: #18b7bf;
    border-color: #18b7bf;
}
.progressbar li.active:before {
    border-color: #18b7bf;
    background: #18b7bf;
    color: white;
}
.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 60px;
    height: 60px;
    border: 3px solid #ddd;
    display: block;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 100px;
    line-height: 60px;
    background-color: white;
    position: relative;
    z-index: 1;
}
.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 60px;
    height: 60px;
    border: 3px solid #ddd;
    display: block;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 100px;
    line-height: 60px;
    background-color: #18b7bf!important;
    color: white;
    position: relative;
    z-index: 1;
}
.cart-section {
    position: relative;
}
.cart-section .cart-outer {
    margin-top: 120px;
    margin-bottom: 120px;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 28px;
}

.checkout-area .cart-outer {
    margin-top: 140px;
    margin-bottom: 120px;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding-top: 50px!important;
    padding-left: 20px!important;
    padding-right: 30px!important;
}

.cart-total {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1)!important;
    padding: 20px!important;
}

.cart-total-table {
    border: 2px solid #ebebeb;
}
.cart-total-table li {
    border-bottom: 1px solid #ebebeb;
}

.cart-total .payment-options {
    background: #f7f7f7 none repeat scroll 0 0;
    margin-top: 30px;
    overflow: hidden;
    padding: 23px 20px 35px;
}
.cart-total .payment-options .option-block {
    margin-bottom: 14px;
}
.cart-total-table li span.col.col-title {
    border-right: 1px solid #ebebeb;
    color: #272727;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 10px 18px;
    position: relative;
    width: 50%;
}

.cart-total-table li span.col {
    color: #9a9a9a;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    padding: 10px 18px;
    position: relative;
    width: 50%;
}
.cart-section .table-outer {
    box-shadow: none !important;
}

.cart-section .table-outer {
    position: relative;
    width: 100%;
    overflow-x: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.cart-section .cart-table {
    width: 100%;
    min-width: 900px;
}

.cart-table .cart-header {
    position: relative;
    width: 100%;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid white;
    border-radius: 18px;
    font-family: "Poppins", sans-serif;
    background-color: #f6f6f6;
    box-shadow: none;
}
.cart-table thead tr {
    border: 1px solid #f6f6f6 !important;
}
.cart-table thead tr th {
    font-size: 14px;
    line-height: 24px;
    padding-top: 25px;
    padding-bottom: 25px;
    min-width: 120px;
    font-weight: bold;
    background: none;
    text-transform: uppercase;
}
.cart-table tbody {
    border: none !important;
    box-shadow: none !important;
}
.cart-table tbody tr td {
    padding: 10px 10px 10px;
}
.cart-table tbody tr td, .cart-table tbody tr .remove-btn {
    color: #9e9e9e;
    font-weight: normal;
}

.cart-table tbody tr td {
    vertical-align: middle;
    background: #ffffff;
    box-shadow: 4px 0px 2px 1px rgba(0, 0, 0, 0.2);
    line-height: 24px;
    padding: 15px 10px;
    min-width: 100px;
    font-size: 16px;
    font-weight: bold;
    color: yellow;
}
.cart-table tbody tr td {
    padding: 10px 10px 10px;
}
.cart-table tbody tr td, .cart-table tbody tr .remove-btn {
    color: #9e9e9e;
    font-weight: normal;
}
.cart-table tbody .available-info {
    position: relative;
    padding-left: 50px;
    color: #9e9e9e;
    font-size: 14px;
}
.cart-table tbody .available-info .icon {
    position: absolute;
    left: 0px;
    top: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #25b6c4;
    border-radius: 50%;
}

.cart-table tbody tr .prod-column .column-box {
    margin-left: 15px;
}
.cart-table tbody tr .prod-column .column-box {
    position: relative;
    min-height: 90px;
    padding-left: 85px;
    padding-top: 25px;
    text-align: left;
    font-size: 14px;
    margin-top: 0px;
    padding-bottom: 25px;
    font-weight: bold;
    color: #25b6c4;
}
.cart-table tbody tr td, .cart-table tbody tr .remove-btn {
    color: #9e9e9e;
    font-weight: normal;
}
.cart-table tbody tr .prod-column .column-box .prod-thumb {
    position: absolute;
    left: 0px;
    top: 11px;
    padding: 0px;
}

.cart-table tbody tr .prod-column .column-box .prod-thumb img {
    display: block;
    max-width: 100%;
    border-radius: 8px;
}
.cart-table tbody tr .prod-column .column-box h3 {
    font-size: 18px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #222;
    text-transform: capitalize;
}
.cart-section h3 {
    font-size: 24px;
    margin-bottom: 30px;
}
.cart-table tbody tr .qty {
    width: 120px;
    padding-right: 20px;
}
.cart-table tbody tr .price {
    font-size: 20px;
    font-weight: bold;
    color: #25b6c4;
}
.cart-table tbody tr .price, .sub-total {
    font-size: 16px !important;
    font-weight: bold;
    color: #25b6c4;
}
.cart-table tbody tr .sub-total {
    font-size: 20px;
    font-weight: bold;
    color: #25b6c4;
}
.cart-table tbody tr td, .cart-table tbody tr .remove-btn {
    color: #9e9e9e;
    font-weight: normal;
}
.cart-table tbody tr .remove-btn {
    position: relative;
    font-size: 16px;
    color: yellow;
    line-height: 30px;
    transition: all 500ms ease;
}
.cart-section .update-cart-box {
    margin-top: 20px;
    background-color: #f9f9f9;
    box-shadow: none;
    margin-bottom: 20px;
    padding: 10px;
    border-top: 1px dashed gray;
    padding-left: 40px;
    padding-right: 40px;
}
.pull-right .commande {
    border-radius: 100px;
    margin-bottom: 50px;
}
.cart-section .thm-btn {
    line-height: 40px;
}
.thm-btn {
    position: relative;
    background: #3841b2;
    font-size: 14px;
    line-height: 46px;
    font-weight: 600;
    color: #ffffff;
    border: 2px solid #3841b2;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    padding: 0 38px;
    transition: all .5s cubic-bezier(0.4, 0, 1, 1);
}

.thanks {
    margin-top: 50px;
    margin-bottom: 50px;
    width: auto;
    height: 200px;
    padding: 30px;
    word-wrap: break-word;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 18px;
    border: 18px solid white;
    background: #25b6c4;
}

.textThank {
    position: absolute;
    top: 100px;
    left: 5%;
    text-align: justify;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    word-wrap: break-word;
}
.category-productlink {
    color: #25b6c4!important;
    display: block;
    font-size: 20px!important;
    font-weight: bold!important;
    line-height: 20px;
    border-bottom: none!important;
}
.category-productlink2 {
    color: #2ddef0 !important;
    display: block;
    font-size: 17px!important;
    font-weight: bold!important;
    line-height: 17px;
    border-bottom: none!important;
}
.category-productlink:hover {
    color: #ffaf20!important;
}
.category-thumb {
    height: auto!important;
    border-radius: 1000px;
    overflow: hidden;
    margin-right: 15px;
    display: block;
}

.category:hover .category-thumb img {
    -webkit-transform: scale(.8)!important;
    -ms-transform: scale(.8)!important;
    transform: scale(.8)!important;
}

.primary-text{
    color: #ffaf20!important;
}

.rating-left{
    padding: 20px;
    text-align: center;
}
.rating-left .rate{
    color: #000!important;
    font-size: 80px!important;
    text-align: center;
}
.rating-left .total{
    color: #666666 !important;
    font-size: 20px!important;
    text-align: center;
    margin-top: 10px;
}

.section-title-2 .nav li a , .slider-navigation-2 .slider-navigation-arrow i{
    color: #000!important;
}

.section-title-2 .nav li a.active, .section-title-2 .nav li a:hover {
    color: #ffaf20!important;
}

.store{
    width: 100%;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ededed;
}
.store:hover {
    background: #ededed;
    border-radius: 8px;
    border: 1px solid orangered;
}
.nosBoutiques{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)!important;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)!important;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)!important;
}
.nosBoutiques .section-title h3{
    color:#ffaf20!important;
}