.user_account{
    padding-top: 40px;
}
/* Widget */
.widget {
    background-color: #fff;
    border: 1px solid rgba(193, 193, 193, 0.4);
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    position: relative;
    width: 100%;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
/* End Widget */
.form-control {
    border-radius: 3px;
    font-size: 13px;
    line-height: normal;
}
.form-control-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
    font-size: 16px;
}
.form-group label {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}
.custom-checkbox .custom-control-indicator {
    border-radius: 3px;
}
.grid-system div[class^="col"] {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #ffffff;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
}
.text-des-container .btn {
    background: #4a3eed;
    background: -moz-linear-gradient(left, #4a3eed 0%, #9d1fff 100%);
    background: -webkit-linear-gradient(left, #4a3eed 0%, #9d1fff 100%);
    background: linear-gradient(to right, #4a3eed 0%, #9d1fff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4a3eed', endColorstr='#9d1fff', GradientType=1);
    border: 7px solid #fff;
    border-radius: 55px;
    bottom: 80px;
    box-shadow: 0 0 1px #ccc;
    font-size: 31px;
    height: 70px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 70px;
}
.badge {
    border-radius: 3px;
}

.bg-primary, .btn-primary, .btn-outline-primary:hover, .badge-primary {
    background: #4a3eed;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #2999ff 0%, #4a3eed 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #2999ff 0%,#4a3eed 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #2999ff 0%,#4a3eed 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d1fff', endColorstr='#4a3eed',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}

.btn-primary:hover{
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #4a3eed 0%, #2999ff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #4a3eed 0%,#2999ff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #4a3eed 0%,#2999ff 100%);
}
.bg-success, .btn-success, .btn-outline-success:hover, .badge-success {
    background: #4eda92;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #4eda92 1%, #56e0cb 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #4eda92 1%,#56e0cb 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #4eda92 1%,#56e0cb 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4eda92', endColorstr='#56e0cb',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}
.btn-outline-success{
    border-color: #4eda92;
    color: #4eda92;
}
.bg-warning, .btn-warning, .btn-outline-warning:hover, .badge-warning {
    background: #ffc107;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffc107 1%, #fffc07 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffc107 1%,#fffc07 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffc107 1%,#fffc07 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc107', endColorstr='#fffc07',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}
.btn-outline-warning{
    border-color: #ffc107;
    color: #ffc107;
}
.text-warning{
    color: #ffc107 !important;
}
.bg-danger, .btn-danger, .btn-outline-danger:hover, .badge-danger{
    background: #ff253a;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff253a 0%, #ff8453 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff253a 0%,#ff8453 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff253a 0%,#ff8453 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff253a', endColorstr='#ff8453',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}
.btn-outline-danger{
    border-color: #ff253a;
    color: #ff253a;
}

/* User Info */
.user-info-wrapper {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom: 3px;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 48px;
    position: relative;
    width: 100%;
}
.heading-design-h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 30px;
    position: relative;
    text-transform: uppercase;
}
.heading-design-h5::after {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #4a3eed 0%, #2999ff 100%) repeat scroll 0 0;
    border-radius: 12px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    bottom: -13px;
    width: 29px;
}
.user-info-wrapper .user-cover {
    background-position: right -85px top;
    background-repeat: no-repeat;
    background-size: 525px auto;
    height: 252px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.user-info-wrapper .user-cover .tooltip .tooltip-inner {
    max-width: 100%;
    padding: 10px 15px;
    width: 230px;
}
.user-info-wrapper .info-label {
    background-color: #dc3545;
    border-radius: 25px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.18);
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 21px;
    height: 35px;
    line-height: 28px;
    padding: 2px 0;
    position: absolute;
    right: 18px;
    text-align: center;
    top: 18px;
    width: 34px;
}
.user-info-wrapper .user-info {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 78%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 78%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 78%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    display: table;
    padding: 90px 20px 10px 20px;
    position: relative;
    width: 100%;
    z-index: 5;
}
.user-info-wrapper .user-info .user-avatar,
.user-info-wrapper .user-info .user-data {
    display: table-cell;
    vertical-align: top;
}
.user-info-wrapper .user-info .user-avatar {
    position: relative;
    width: 85px;
}
.user-info-wrapper .user-info .user-avatar > img {
    border: 4px solid #fff;
    border-radius: 50px;
    display: block;
    margin: 9px 0 7px;
    width: 100%;
    box-shadow: 0 0 11px #ccc;
}
.user-info-wrapper .user-info .user-avatar .edit-avatar {
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    color: #606975;
    cursor: pointer;
    z-index: 9;
    display: block;
    height: 36px;
    line-height: 34px;
    opacity: 0;
    position: absolute;
    right: -12px;
    text-align: center;
    text-decoration: none;
    top: -7px;
    transition: opacity 0.3s ease 0s;
    width: 36px;
}
.user-info-wrapper .user-info .user-avatar:hover .edit-avatar {
    opacity: 1;
}
.user-info-wrapper .user-info .user-data {
    padding-left: 12px;
    padding-top: 23px;
}
.user-info-wrapper .user-info .user-data h4 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 2px;
}
.user-info-wrapper .user-info .user-data span {
    color: #9da9b9;
    display: block;
}
/* End User Info */
/* User Account Sidebar */
.user-account-sidebar {
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(193, 193, 193, 0.62);
}
.user-account-sidebar .list-group-item {
    color: #343a40;
    font-weight: 500;
    text-transform: uppercase;
}
.user-account-sidebar .list-group {
    border-radius: 0 !important;
    padding: 20px;
}
.user-account-sidebar .list-group-item .badge {
    float: right;
    font-weight: bold;
    margin: 0;
    padding: 7px 11px;
}
.user-account-sidebar .list-group-item i {
    display: inline-block;
    margin: 0 7px 0 0;
    width: 21px;
}
.user-account-sidebar .list-group-item.active,
.user-account-sidebar .list-group-item:hover {
    color: #ffffff;
    background-color: #10455b;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #10455b!important;
}
/* End User Account Sidebar */

.bg-danger .btn-outline-danger:hover, .badge-danger {
    width:auto!important;
    position: relative;
    left: 60% !important;
    top:8px!important;
    font-weight: bold;
    margin: 0;
    font-size: 10px!important;
    float: right;
    padding-top: 5px!important;
    padding-bottom: 10px!important;
    border-radius: 3px!important;
    background: #ff253a;
    background: -moz-linear-gradient(-45deg, #ff253a 0%, #ff8453 100%);
    background: -webkit-linear-gradient(-45deg, #ff253a 0%,#ff8453 100%);
    background: linear-gradient(135deg, #ff253a 0%,#ff8453 100%);
}

.item-meta ul li i {
    color: #4a3eed!important;
    text-align: center;
    width: 21px;
}

.my-item-title a {
    color: #4a3eed;
}

.item-meta ul li {
    color: #000 !important;
    font-size: 16px!important;
}

#faqAccordion .panel-title {
    font-weight: 400;
    color: #4a3eed;
    font-size: 15px;
}
.label-primary {
    background-color: #4a3eed;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.widget .item-footer{
    background: #ececec none repeat scroll 0 0;
    padding: 20px;
    border-top: 2px solid #e2e2e2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
}

.card-header:first-child {
    border-radius: 5px!important;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 2px solid rgba(0,0,0,.125);
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.text-white {
    color: #fff!important;
}

.margin-top {
    height: 200px;
    margin-top: 20px !important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #4a3eed !important;
}

.receipt-main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(193, 193, 193, 0.62);
    display: inline-block;
    padding: 60px 65px;
    position: relative;
    width: 100%;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.thumb-img {
    border-radius: 59px;
    height: 80px;
    width: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-info-wrapper .info-label {
    background-color: red;
    border-radius: 25px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.18);
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 21px;
    height: 28px;
    line-height: 28px;
    padding: 2px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: 50px;
    width: 28px;
}

.list-group .fa {
    color: #ffaf20 !important;
    font-weight: bold;
}

