/*Style.CSS*/
/* All logos and logo sizes are edited in this CSS*/

.header-logo-image, .footer-logo{
    background-size:85px 12px;
    background-repeat: no-repeat;
    background-position:left center;
    height:100%!important;
    width:147px;
}

.page-content-light-gray {
    background-color:#f0f0f0 !important;
}

.store-links a i {
    width: 30px;
    text-align: center;
    font-weight: bold!important;
    color: #25b6c4!important;
}
.color-blue-dark {
    color: #25b6c4!important;
}

.header-scroll-effect img{
    width:50px;
    position: relative;
    top:0px;
    left: 50px;
}



.widget1{
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    border-radius: 12px;
    border: 1px solid #dddddd;
    margin: 10px!important;
    margin-bottom: 40px!important;
    padding: 30px!important;
    width: 96%;
}

.single-slider .item img, .double-slider .item img {
     border-radius: 0!important;
}
.owl-carousel .owl-item img {
    border-radius: 0!important;
}
.single-slider .item, .double-slider .item, .single-slider .overlay, .double-slider .overlay {
    border-radius: 0!important;
}
.single-slider .item, .double-slider .item, .single-slider .overlay, .double-slider .overlay {
    border-radius: 0!important;
}

.single-slider .item, .double-slider .item, .single-slider .overlay, .double-slider .overlay {
    border-radius: 0!important;
}

.store-slide-2{
    border-bottom: 3px solid #f0f0f0!important;
}
.widget {
    background-color: #fff;
    margin: 15px 15px 30px;
    border-radius: 13px !important;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, .18);
    padding: 20px!important;
    overflow: hidden;
}
.widgetSlider {
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, .18);
}
.content {
    margin: 0 15px 30px;
}
.content-boxed {
    background-color: #fff;
    margin: 15px 15px 30px;
    display: block;
    border-radius: 13px!important;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,.08);
    padding-top: 20px;
    overflow: hidden;
}

.divider {
    background-color: rgba(0,0,0,.04);
    margin-bottom: 30px;
}
.divider, .divider-icon {
    height: 1px;
    display: block;
}
.content-boxed-padding {
    padding: 15px 20px;
    margin-bottom: 30px;
}

.grid-columns div:nth-child(2n+1) {
    margin-right: 3%;
    margin-left: 0;
}
.grid-columns div {
    width: 46%;
    text-align: center;
    float: left;
    margin-left: 3%;
}
.grid-columns div i {
    line-height: 70px;
    width: 70px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
}
.bolder {
    font-weight: 700!important;
}
.fa-3x {
    font-size: 3em;
}

.bg-primary {
    background:#25b6c4!important;
}
.bg-yellow1-dark {
    background-color: #ffaf20!important;
    color: #FFFFFF!important;
}
.content-strip {
    margin-bottom: 30px;
    padding: 40px 0;
}
.boxed-text {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.content-strip .container, .content-strip .owl-carousel {
    padding: 0 20px;
    z-index: 90;
    margin-bottom: 0;
}
.container, .container-fullscreen {
    margin-bottom: 30px;
    display: block;
}


.content-strip-bg {
    position: absolute;
    background-size: cover;
    background-position: center center;
    z-index: 8;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.widget2{
    background-color: #fff;
    margin: 15px 15px 30px;
    display: block;
    border-radius: 13px!important;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,.08);
    padding: 20px!important;
    overflow: hidden;
}
.margin-bottom-15{
    margin-bottom: 15px!important;
}
.primary-heading{
    color: #25b6c4!important;
    font-weight: bold!important;
}

.soko{
    color: #ffaf20!important;
    font-weight: bold!important;
}
.primary-heading-soko{
    color: #ffaf20!important;
    font-weight: bold!important;
}
.content-center {
    padding: 40px 30px 1px;
}
.text-center{
    text-align: center!important;
}
.justify-text{
    text-align: justify!important;
}

#preloader h1{
    background-size:160px 23px;
    background-repeat: no-repeat;
    background-position:center bottom;
    height:100px;
}

.preloader-light h1{background-image:url("https://res.cloudinary.com/yanfomaweb/image/upload/v1554927676/Yanfoma/VertWback.png")!important;}
.preloader-dark h1{background-image:url(../images/frontEnd/mobile/logo-light.png)!important;}

.dark-skin .header-logo-image,
.dark-skin .footer-logo{background-image:url(../images/frontEnd/mobile/logo-light.png)!important;}

.light-skin .header-logo-image,
.light-skin .footer-logo{background-image:url(https://res.cloudinary.com/yanfomaweb/image/upload/v1554927676/Yanfoma/VertWback.png)!important;}


.menu-scroll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch!important;
}

.menu-socials {
    background-color: rgba(0,0,0,.01);
}

.menu-socials:after {
    border-bottom: solid 1px rgba(0,0,0,.08);
    box-shadow: none;
}
.menu-socials:after {
    content: '';
    display: block;
    clear: both;
}
.menu-socials a {
    color: #000;
}
.menu-socials a {
    font-size: 12px;
    width: 16.6%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    float: left;
}

.facebook-color {
    color: #3b5998!important;
}
.twitter-color {
    color: #4099ff!important;
}
.google-color {
    color: #d34836!important;
}
.color-green-dark {
    color: #8cc152!important;
}

.menu-logo {
    background-image: url(https://res.cloudinary.com/yanfomaweb/image/upload/v1554927676/Yanfoma/VertWback.png);
}
.menu-logo {
    padding: 40px 0;
    background-repeat: no-repeat;
    background-position: left 20px center;
    display: block;
    float: none;
    clear: both;
    width: 100%;
    height: 100px;
    z-index: 999999999;
    position: relative;
    pointer-events: all!important;
}
.menu-logo {
    background-size: 270px 50px;
}
.menu-sub-logo {
    margin: -30px 20px 20px;
    display: block;
    font-size: 11px;
    font-style: normal;
    color: gray;
}
.menu-divider {
    font-family: roboto,sans-serif;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    padding-left: 20px;
    margin-bottom: -1px;
    margin-top: -1px;
    z-index: 999;
    position: relative;
}
.menu-divider {
    color: #1f1f1f;
    background-color: rgba(0,0,0,.02);
    border-top: solid 1px rgba(0,0,0,.08);
    border-bottom: solid 1px rgba(0,0,0,.08);
    box-shadow: none;
}

.menu-divider i {
    position: absolute;
    right: 25px;
    height: 40px;
    line-height: 40px!important;
}
.fa-bars:before {
    content: "\f0c9";
}

.menu-item {
    color: #1f1f1f;
    border-top: solid 1px rgba(255,255,255,.01);
    border-bottom: solid 1px rgba(0,0,0,.05);
}
.menu-item {
    height: 55px;
    line-height: 55px;
    display: block;
    transition: all 350ms ease;
}
.active-menu {
    pointer-events: all!important;
}
.active-menu2 i, .active-menu2 span{
   color: #ffaf20!important;
   font-weight: bold;
}

.menu-light.menu-large .menu-item i {
    color: #1f1f1f;
}
.menu-item i:first-child {
    padding-left: 10px;
}
.menu-item i {
    width: 50px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    transition: all 250ms ease;
    font-size: 15px;
}

.menu-item strong {
    color: #000;
    font-weight: 400;
}
.menu-item strong {
    font-family: roboto,sans-serif!important;
    font-weight: 300;
    font-size: 13px;
    transition: all 350ms ease;
    position: absolute;
    padding-left: 10px;
}
.menu-item i {
    color: #1f1f1f;
}
.menu-item .fa-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 5px;
    font-size: 4px;
    text-align: center;
    opacity: .3;
}
.menu-item i {
    width: 50px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    transition: all 250ms ease;
    font-size: 15px;
}
.fa-circle:before {
    content: "\f111";
}
.active-item i {
    color: #000;
}
.menu-item i:first-child {
    padding-left: 10px;
}

.active-item strong,.active-item i {
    transition: all 350ms ease;
}
.color-night-light {
    color: #656d78!important;
}
.phone-color {
    color: #27ae60!important;
}

.plushide-animated {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 5px;
    margin-top: 2px;
    transform: scale(.6,.6);
}
.plushide-animated * {
    background-color: #65686c;
}
.ph1 {
    height: 11px;
    width: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -6px;
}
.ph2 {
    height: 1px;
    width: 11px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -1px;
}
.plushide-animated *, .dropdown-animated *, .hamburger-animated * {
    transition: all 350ms ease;
}

.submenu-item {
    height: 0;
    overflow: hidden;
    transition: all 400ms ease;
}

.menu-light.menu-large .submenu-item a {
    color: #4a5055;
}
.submenu-item a:nth-child(1) {
    margin-top: -1px;
}
.submenu-item a {
    font-family: roboto,sans-serif!important;
    font-size: 12px!important;
    height: 50px;
    line-height: 50px;
    padding-left: 60px;
}

.submenu-item .fa-angle-right {
    color: #8c9eb1;
}
.submenu-item .fa-angle-right {
    position: absolute;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 60px;
    text-align: center;
    font-size: 10px;
    opacity: .5;
}
.fa-angle-right:before {
    content: "\f105";
}

.submenu-item .fa-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 5px;
    font-size: 4px;
    margin-top: 23px;
    text-align: center;
    opacity: .3;
}
.no-border {
    border: none!important;
}

.menu-divider span {
    color: #1f1f1f!important;
}
.menu-light span {
    color: rgba(0,0,0,.5);
}
.fa-copyright:before {
    content: "\f1f9";
}

.caption-center {
    top: 50%;
    transform: translateY(-50%);
}
.caption-bottom, .caption-center, .caption-top {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
}

.scale-box {
    animation: scale-animation 1.5s;
    animation-iteration-count: infinite;
}
.horizontal-center {
    display: block;
    margin: 0 auto;
}

.color-highlight {
    color: #DA4453!important;
}
.bottom-10 {
    margin-bottom: 10px!important;
}
.boxed-text-huge {
    width: 90%;
    max-width: 340px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.opacity-70 {
    opacity: 0.7;
}
.opacity-75 {
    opacity: 0.75;
}
.caption-overlay {
    z-index: 1;
    left: 0;
    right: 0;
    bottom: -1px;
    pointer-events: none;
}
.caption-overlay, .cover-controls, .dropdown-style-1 i, .dropdown-style-2 i, .map-full .caption {
    top: 0;
    position: absolute;
}
.bg-black {
    background-color: #000!important;
}
.highlight-gray {
    background-color: #25b6c4 !important;
}

.circleWhite {
    background-color: #2326c4 !important;
}
.opacity-75 {
    opacity: 0.75;
}
.caption-background, .caption-bg {
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.bg-18 {
    background-image: url(https://res.cloudinary.com/yanfomaweb/image/upload/v1557411254/Yanfoma/back233.png);
}

.content-round-medium, .menu-box-round-medium, .round-medium {
    border-radius: 15px!important;
    overflow: hidden;
}
img.preload-image.horizontal-center.scale-box {
    width: 120px;
}


.color-yellow-dark{
    color: #ffaf20!important;
}
.color-primary-soko{
    color: #ffaf20!important;
}

.color-primary{
    color: #25b6c4!important;
}
.bg-primary{
    background: #25b6c4!important;
}

.faq-question {
    border:1px solid #f0f0f0 !important;
    border-radius: 10px!important;
}
.faq-answer{
    background-color:#f0f0f0 !important;
    padding: 15px!important;
    text-align: justify!important;
}

.widget1 {
    background-color: #fff;
    display: block;
    border-radius: 13px!important;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,.08);
    padding-top: 20px;
    overflow: hidden;
}
.widgetSimple {
    background-color: #fff;
    border-radius: 13px!important;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,.08);
    overflow: hidden;
}
.widgetSimple2 {
    padding: 10px!important;
    background-color: #fff;
    margin: 15px 15px 30px;
    border-radius: 10px!important;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,.2);
    overflow: hidden;
}
.widgetSimple3 {
    padding: 5px!important;
    background-color: #fff;
    margin: 5px;
    border-radius: 10px!important;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,.2);
}
img.preload-image.horizontal-center.scale-box2 {
    width: 300px;
}

#footer-menu a {
    color: #fff!important;
    font-weight: bold;!important;
}
.content-justify{
    text-align: justify!important;
}
.faq-question {
    font-size: 12px!important;
}

.store-slide-2 {
    border-bottom: 0!important;
}


.quantity-select {
    display: inline-block;
    position: relative;
    max-width: 80px;
    border: 1px solid #e5e5e5;
    vertical-align: middle;
    margin-right: 10px;
    overflow: hidden
}

.quantity-select input {
    height: 40px;;
    color:  #25b6c4;
    font-weight: bold;
    font-size: 18px!important;
}
.quantity-select .qtybutton {
    position: absolute;
    height: 20.5px;
    width: 24px;
    line-height: 1;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    right: 0;
    text-align: center;
    z-index: 1;
    font-size: 0
}

.quantity-select .qtybutton i {
    font-size: 10px;
    line-height: 20px;
    font-weight: lighter!important;
    color: #cbcbcb;
    padding-bottom: 5px;
}

.quantity-select .qtybutton.inc {
    top: 0;
    bottom: auto;
}

.quantity-select .qtybutton.dec {
    bottom: 0;
    top: auto;
}

.store-item {
    width: 45%;
    float: left;
    margin-right:5px;
    margin-bottom: 20px;
}
.store-item strong {
    display: block;
    font-weight: normal;
    padding: 5px;
    color: #1f1f1f;
}
.store-items img {
    display: block;
    width: 100%;
}
.store-item:nth-last-child(even) {
    margin-left: 4%
}

.store-item strong {
    display: block;
    font-weight: 500;
    padding-top: 5px;
    height: 100px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
}

.store-item em {
    display: block;
    font-style: normal;
    font-size: 18px;
    color: #666;
}

.store-item .discount {
    position: absolute;
    margin-top: -29px;
    right: 0;
    text-decoration: line-through
}

.store-item .offer {
    position: absolute;
    margin-top: -29px;
    right: 0;
    color: #27ae60;
}

.store-item .offer i {
    padding-right: 10px
}

.store-item-button-1 {
    position: absolute;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    right: 0;
    margin-top: -35px;
    font-size: 12px
}

.store-item-button-2 {
    position: absolute;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    right: 0;
    margin-top: -35px;
    margin-right: 45px;
    font-size: 12px
}

.store-item-button-3 {
    position: absolute;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    right: 0;
    margin-top: -35px;
    margin-right: 100px;
    font-size: 12px
}
.store-item-button-1, .store-item-button-2, .store-item-button-3 {
    color: #fff;
    background-color: #25b6c4;
    border-radius: 4px;
}

.menu-active strong, .menu-active .fa-circle {
    color: #ffaf20!important;
    font-weight: bold!important;
}
.menu-active{
    background: #10455b;
}
.menu-active .fa-circle{
    opacity: 1!important;
    font-size: 5px!important;
}

.highlight-blue .active-menu * {
    color: #10455b!important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
}
.bg-primary, .btn-primary, .btn-outline-primary:hover, .badge-primary {
    background: #4a3eed!important;
    background: -moz-linear-gradient(-45deg, #2999ff 0%, #4a3eed 100%)!important;
    background: -webkit-linear-gradient(-45deg, #2999ff 0%,#4a3eed 100%)!important;
    background: linear-gradient(135deg, #2999ff 0%,#4a3eed 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d1fff', endColorstr='#4a3eed',GradientType=1 );
}
.card-header:first-child {
    border-radius: 5px!important;
}
.card-header {
    padding: .75rem 1.25rem!important;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03)!important;
    border-bottom: 2px solid rgba(0,0,0,.125)!important;
}
.text-white {
    color: #fff!important;
}
.card-body {
    -ms-flex: 1 1 auto!important;
    flex: 1 1 auto!important;
}

.highlight-blue .bg-highlight {
    background-color: #4a89dc!important;
    color: #fff;
}
.pagination a {
    color: #1f1f1f;
    font-size: 11px;
    display: inline-block;
    width: 35px;
    line-height: 33px;
    height: 35px;
    margin: 0 5px 5px 0;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.06);
}

/***
=============================================
    page_pagination style
=============================================
***/


. {
    text-align: center;
    padding-top: 20px;
}
.page_pagination li {
    display: inline-block;
    margin:0 4px;

}
.page_pagination li a {
    width: 35px;
    line-height: 33px;
    height: 35px;
    box-shadow: 0 0 10px 2px #edededfa;
    text-align: center;
    color: #252525;
    font-size: 11px;
    display: inline-block;
    margin: 0 5px 5px 0;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.06);
}
.page_pagination li a.active,
.page_pagination li a:hover {
    color:#fff;
    background: #3841b2;
}


.store-item-button-1, .store-item-button-2, .store-item-button-3 {
    color: #fff;
    background-color: #25b6c4;
    border-radius: 4px;
    margin-bottom: 40px!important;
    right: 10px!important;
}


.store-item-button-1 {
    position: absolute;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    right: 0;
    margin-top: -35px;
    margin-right: 20px!important;
    font-size: 12px;
}

.store-item-button-2 {
    position: absolute;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    right: 0;
    margin-top: -35px;
    margin-right: 50px!important;
    font-size: 12px;
}

.store-item-button-3 {
    position: absolute;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    right: 0;
    margin-top: -35px;
    margin-right: 85px!important;
    font-size: 12px;
}

.bottom-80 {
    margin-bottom: 80px!important;
}

